:root {
  --color-beige: 45.88, 62.96%, 94.71%;
  --color-gold: 47.54, 53.72%, 47.45%;
  --color-green: 135.65, 19.01%, 23.73%;
  --color-white: 30, 100%, 98.82%;
  --color-grey: 0, 0%, 40%;
  --color-red: 0, 84.96%, 44.31%;
  --color-light-green: 120, 75%, 31.37%;
  --border-radius: 1rem;
  --box-shadow-inset: inset rgba(0, 0, 0, 0.15) 2px 2px 3px;
}

* {
  box-sizing: border-box;
}

*:focus-visible {
  outline: 2px solid hsl(var(--color-green));
}

html {
  background-color: hsl(var(--color-beige));
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
}

main {
  overflow-x: hidden;
}

h1,
h2,
h3 {
  margin: 0 0 1rem 0;
  color: hsl(var(--color-green));
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 2em;
}

h3 {
  font-weight: normal;
}

input,
select {
  font-family: inherit;
}

.cnf-section {
  padding: 0 1rem;
  margin: 0 auto 4rem auto;
}

.cnf-admin-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

a {
  color: hsl(var(--color-green));
}

ul {
  padding: 0;
  list-style-type: none;
}

p {
  margin: 1rem 0;
}

p,
li,
span,
a {
  font-size: 1.125rem;
}

blockquote {
  border-left: 4px solid color-mix(in hsl, hsl(var(--color-green)) 50%, white);
  padding-left: 1rem;
  margin: 1rem 0;
  color: hsl(var(--color-grey));
}

.tab-active {
  border-bottom: 1.5px solid hsl(var(--color-green));
}

.text-sm {
  font-size: 1rem;
}

.text-center {
  text-align: center;
}

.cnf-button {
  position: relative;
  padding: 1rem 1.5rem;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  transition: transition 0.1s ease;
  text-decoration: none;
}

.cnf-button--compact {
  padding: 0.5rem 1rem;
}

.cnf-button__primary {
  background-color: hsl(var(--color-green));
}

.cnf-button__secondary {
  color: hsl(var(--color-green));
  background-color: hsl(var(--color-beige));
  border: 2px solid hsl(var(--color-green));
}

.cnf-button__gold {
  background: linear-gradient(to bottom,
      color-mix(in hsl, hsl(var(--color-gold)) 80%, white),
      hsl(var(--color-gold)));
}

.cnf-button__gold {
  background-color: hsl(var(--color-gold));
}

.cnf-button__link {
  background-color: transparent;
  color: hsl(var(--color-green));
}

.cnf-button__emoji {
  font-size: 1.5rem;
  line-height: 1rem;
}

.cnf-button__primary .cnf-button__text,
.cnf-button__gold .cnf-button__text {
  color: hsl(var(--color-beige));
}

.cnf-button--loading .cnf-button__text {
  visibility: hidden;
  opacity: 0;
}

.cnf-button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid transparent;
  border-top-color: hsl(var(--color-white));
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

.cnf-button:active {
  transform: scale(0.95);
  box-shadow: none;
}

.cnf-button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
  pointer-events: none;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

@media (min-width: 576px) {
  .cnf-section {
    width: 80vw;
    padding: 0;
  }

  .cnf-latest-blogs {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .cnf-section {
    width: 70vw;
  }

  .cnf-latest-blogs {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .cnf-section {
    width: 60vw;
  }
}

@media (min-width: 1200px) {
  .cnf-section {
    width: 50vw;
  }
}

@media (min-width: 1620px) {
  .cnf-section {
    width: 45vw;
  }
}