:root {
  --background-color: #FAF6E9;
  --green: #314837;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--background-color);
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
}

h1,
h2,
h3 {
  margin: 0 0 1rem 0;
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 2em;
}

h3 {
  font-weight: normal;
}

#about,
#latest-blogs,
#events,
#blogs,
#post {
  padding: 0 1rem;
  margin: 0 auto;
}

footer {
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
}

a {
  color: var(--green);
}

ul {
  padding: 0;
  list-style-type: none;
}

.cnf-button {
  padding: 1rem 1.5rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
}

.cnf-button__primary {
  background-color: var(--green);
  color: var(--background-color);
}


/* Media Queries */

/* small */
@media (min-width: 576px) {
  body {
    border: 2px solid red;
  }

  #about,
  #latest-blogs,
  #events,
  #blogs,
  #post {
    width: 90vw;
  }

  footer {
    width: 50vw;
  }

  .cnf-latest-blogs {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* medium */
@media (min-width: 768px) {
  body {
    border: 2px solid blue;
  }

  #about,
  #latest-blogs,
  #events,
  #blogs,
  #post {
    width: 80vw;
  }

  footer {
    width: 40vw;
  }

  .cnf-latest-blogs {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* large */
@media (min-width: 992px) {
  body {
    border: 2px solid green;
  }

  #about,
  #latest-blogs,
  #events,
  #blogs,
  #post {
    width: 70vw;
  }
}

/* extra large */
@media (min-width: 1200px) {
  body {
    border: 2px solid darkorange;
  }

  #about,
  #latest-blogs,
  #events,
  #blogs,
  #post {
    width: 55vw;
  }

  footer {
    width: 30vw;
  }
}