.cnf-form {
  max-width: 600px;
}

.cnf-form__message--error {
  color: hsl(var(--color-red));
  text-align: start;
}

.cnf-form__message--success {
  color: hsl(var(--color-light-green));
}

.cnf-form__input,
button[type="submit"] {
  width: 100%;
}

@media (min-width: 576px) {
  .cnf-form {
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr auto;
    grid-auto-flow: column;
    row-gap: 5px;
  }
}