.cnf-select {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 1rem;
}

.cnf-select__label {
  font-size: 1rem;
}

.cnf-select__input {
  padding: 1rem 1.5rem;
  background-color: hsl(var(--color-white));
  border: none;
  border-radius: var(--border-radius);
  font-size: 1.125rem;
  color: inherit;
  cursor: pointer;
  box-shadow: var(--box-shadow-inset);
  background-image: var(--dropdown-arrow-svg);
  background-repeat: no-repeat;
  background-position: right 1rem center;
  -webkit-appearance: none;
  appearance: none;
}

@media (min-width: 576px) {
  .cnf-select__input {
    width: fit-content;
    min-width: 150px;
  }
}