---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "about";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>
    Club na fealsúnachta was founded by Francis Quinn in the autumn of 2024,
    Trieste. The concept of the club is to bring people together to engage in
    weekly philosophical discussions that cover a wide vaiety of topics.
  </p>
  <ol>
    <li>when was it founded</li>
    <li>by who</li>
    <li>concept of the club</li>
    <li>target audience</li>
  </ol>
</BaseLayout>
