---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "about";

const identity = {
  name: "club na fealsunachta",
  topics: ["life", "death", "baseball"],
};

const topicColor = "navy";
---

<style is:global define:vars={{ topicColor }}>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  .topic {
    color: var(--topicColor);
    font-weight: bold;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <h2>topics</h2>
  <ul>
    {identity.topics.map((topic) => <li class="topic">{topic}</li>)}
  </ul>
</BaseLayout>
