---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
const pageTitle = "blog";
---

<BaseLayout pageTitle={pageTitle}>
  <section id="blogs">
    <h1>{pageTitle}</h1>
    <p>welcome to the cnf blog page. here i write stuff.</p>
    <ul>
      {
        allPosts.map((post: any) => (
          <BlogPost url={`/posts/${post.id}`} data={post.data} />
        ))
      }
    </ul>
  </section>
</BaseLayout>
