---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>welcome to club na fealsúnachta</h1>

  page ideas
  <ul>
    <li>topic of the week</li>
    <li>blogs links</li>
    <li>socials</li>
    <li>newsletter?</li>
  </ul>
</BaseLayout>
