---
import { formatDate } from "../utils/script";
const { url, data } = Astro.props;
---

<style>
  li {
    list-style-type: none;
  }

  li:last-child {
    border-bottom: none;
  }

  .cnf-blog__post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.75rem;
  }

  h2 {
    margin: 0;
  }
</style>

<li>
  <article class="cnf-blog__post">
    <a href={url}>
      <h2>{data.title}</h2>
    </a>
    <span>{formatDate(data.date)}</span>
  </article>
</li>
